*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*::before,::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}

html.body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input.button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-family: inherit; font-weight: 400;}

body {
    max-width: 1440px;
    background-color: #ffff;
    font-family: 'Roboto';
    border: 1px solid black;
    margin:  0 auto;
}

.container {
    max-width: 1365px;
    display: flex;
    justify-content: space-between;    
    align-items: center;     
    margin: 25px 37.5px;
}

.header__menu{
    display: flex;
    text-align: justify;
}

.header__menu a {
    margin: 0 12px;
}


.header__btn{
    text-decoration: none;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1.4px;
    color: #000000;
}

.header img{

}

.header__card{
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #000000;
    margin-right: 80px;
    
}

/* 1200+*/
/*992px 1199.75px*/
@media(max-width:1199.75px) {}
/*768px 991.75px*/
@media(max-width:991.75px) {}
/*320px 767.75px*/
@media(max-width:767.75px){}

/*DESK*/

.desk{
    background-image: url(../imgs/desk.png);
    height: 504px ;
    max-width: 1440px;
}

.desk__row{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 193px 0;
    max-width: 1440px;
}

.desk__title{
    font-weight: 400;
    font-size: 43px;
    line-height: 46px;
    color: #FFFFFF;
}

.desk__text{
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.8px;
    color: #FFFFFF;
    padding-top: 12px;
}

.desk__text-learn{
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 28px;
}

/* 1200+*/
/*992px 1199.75px*/
@media(max-width:1199.75px) {}
/*768px 991.75px*/
@media(max-width:991.75px) {}
/*320px 767.75px*/
@media(max-width:767.75px){}


/*DESIGN*/

.design{
    margin: 80px 0;
}

.design__row{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.design__title{
    font-size: 43px;
    line-height: 58px;
    color: #000000;
    padding: 10px 0;
}

.design__text{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.8px;
    color: #A0A0A0;
    padding: 10px 0;  
}

.design__get{
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #000000;
    padding: 10px 0;
}

.design__product{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}


.design__title-pads{
    display: flex;
    justify-content: center;
    margin-top: 51px;

}

.design__text-pads{
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 23px;
}


/* 1200+*/
/*992px 1199.75px*/
@media(max-width:1199.75px) {
    .design__img{
        width: 90%;
    }
}
/*768px 991.75px*/
@media(max-width:991.75px) {}
/*320px 767.75px*/
@media(max-width:767.75px){}


/*PRODUCTS*/

.products{}



.products__row{
    display: flex;
    align-items: center;
    flex-direction: column;    
}

.product_dot {
    margin: 40px 0 19px;
    max-height: 21px;
    position: relative;
    width: 7px;
    height: 7px;
    background-color: #000000;
}

.product_dot::before,
.product_dot::after{
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #000000;
}

.product_dot::after{
    left: 16px;
}
.product_dot::before{
    right: 16px;
}



.products__title{
    font-size: 33px;
    line-height: 36px;
    color: #000000;
    margin: 16px 0;
}

.products__text{
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.8px;
    color: #A0A0A0;
}

.products__product{
    display: flex;
    justify-content: space-around;
    padding: 0 25px;
}

.products__product-gajet{
    display: flex;
    flex-direction: column;
}

.products__product-name{
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.7px;
    color: #A0A0A0;
    margin-top: 22.39px;
}

.products__product-price{
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0.7px;
    color: #A0A0A0;
}

/* 1200+*/
/*992px 1199.75px*/
@media(max-width:1199.75px) {
    .product__img{
        width: 90%;
    }
}
/*768px 991.75px*/
@media(max-width:991.75px) {}
/*320px 767.75px*/
@media(max-width:767.75px){}


/*INSPIRATION*/

.inspiration{
    background-image: url(../imgs/inspiration.png);
    height: 504px ;
    max-width: 1440px;
    margin-top: 95px;
}

.inspiration__row{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 193px 0;
}

.inspiration__title{
    font-size: 66px;
    line-height: 70px;
    color: #FFFFFF;
}

.inspiration__text{
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.8px;
    color: #FFFFFF;
    padding-top: 12px;
}

.inspiration__text-learn{
    font-size: 13px;
    line-height: 15px;    
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 28px;
}

/* 1200+*/
/*992px 1199.75px*/
@media(max-width:1199.75px) {}
/*768px 991.75px*/
@media(max-width:991.75px) {}
/*320px 767.75px*/
@media(max-width:767.75px){}


/*MADE*/

.made{
    margin-top: 116.14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.made__title{
    font-weight: 400;
    font-size: 34px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.made__text{
    max-width: 777px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.8px;
    color: #A0A0A0;
    padding: 23px 0;

}


.made__img{
    max-width: 1052px;
}

/* 1200+*/
/*992px 1199.75px*/
@media(max-width:1199.75px) {
    .made__img {
        width: 90%;
}
}
/*768px 991.75px*/
@media(max-width:991.75px) {
    .made {
        margin-top: 81.14px;
    }
    .made__title {
        font-size: 30px;        
    }
    .made__text {
        max-width: 540px;
        font-size: 9px;
        line-height: 19px;}

}
/*320px 767.75px*/
@media(max-width:767.75px){}


/*MAKE*/

.make{
    margin-top: 42.28px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.make__row{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.make__title{
    font-size: 34px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.make__text{
    margin: 23px 0 79.28px 0;
    max-width: 789px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.8px;
    color: #A0A0A0;
}

.make__imgs{
    max-width: 1365px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 28px 25px;
}

.make__row-bottom{
    margin-top: 123.34px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.make__text-bottom{
    margin-top: 44px;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #000000;
}


/* 1200+*/
/*992px 1199.75px*/
@media(max-width:1199.75px) {
    .make__imgs img{
        max-width: 90%;
    }
    .make__imgs {
        max-width: 945px;       
        gap: 10px 10px;
    }
}
/*768px 991.75px*/
@media(max-width:991.75px) {
    .make__text-bottom {
        margin-top: 26px;
        font-size: 9px;
    }
    .make__title {
        font-size: 30px;
    }
    .make__text {
        max-width: 480px;
        font-size: 9px;}

    .make__row-bottom {
        margin-top: 70.34px;
    }
    .make__imgs {
        max-width: 945px;
        gap: 6px 0px;
    }
    .make__imgs {        
        grid-template-columns: auto auto auto auto;
    }
    .make__imgs img {
        max-width: 95%;}
}
/*320px 767.75px*/
@media(max-width:767.75px){}


/*HOPE*/

.hope{
    margin-top: 120.34px;
}

.hope__row{
    background: rgba(154, 168, 177, 1);
    padding: 120px 145px;
    margin:  0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1340px;
    max-height: 404px;
}

.hope img{}

.hope__title{
    font-size: 43px;
    line-height: 58px;
    color: #FFFFFF;
    padding: 24px 0 23px;
}

.hope__text{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.8px;
    color: #FFFFFF;
}

/* 1200+*/
/*992px 1199.75px*/
@media(max-width:1199.75px) {}
/*768px 991.75px*/
@media(max-width:991.75px) {
    .hope img {
        width: 9%;
    }
    .hope__title {
        font-size: 33px;
        padding: 0px 
    }    
    .hope__text {
        font-size: 8px;}

        .hope {
            margin-top: 55px;
        }
        .hope__row {        
            padding: 78px 145px;      
            max-width: 700px;
            max-height: 300px;
        }
    }
    
/*320px 767.75px*/
@media(max-width:767.75px){}


/*GOUP*/

.goup{
    margin: 34.45px auto;
    display: flex;
    position: relative;
    max-width: 1440px;
}

.goup__row{
    display: flex;
    margin-top: 64px;
}

.goup__list{
    max-width: 159px;
}

.goup__listcol{
    max-width: 170px;
}

.goup__listpos{
    padding: 16px 0;
}
.goup__listpos a{
    text-decoration: none;
    font-size: 22px;
    line-height: 24px;
    color: #000000;
}

.goup__mail{
    max-width: 500px;
    padding: 16px 0 0 12.5px;
}

.goup__title{
    margin-bottom: 23px;
    font-size: 22px;
    line-height: 24px;
    color: #000000;
}

.goup__text{
    max-width: 348px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.8px;
    color: #A0A0A0;
}

.goup__email{
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    width: 320px;
    margin-top: 91.45px;
}
.goup__botton{}

.goup__button-up{

}

.goup__button-up img{
    padding-left: 742px
}

/* 1200+*/
/*992px 1199.75px*/
@media(max-width:1199.75px) {
    .goup__button-up img {
        padding-left: 344px;}
    .goup__listcol {
        max-width: 170px;
        margin-left: 51px;}

    .goup__listpos a {
            font-size: 19px;
        }
    .goup__title {
            font-size: 19px;
        }
    .goup__text {
            font-size: 12px;
            
        }
            

}
/*768px 991.75px*/
@media(max-width:991.75px) {
    .goup__button-up img {
        padding-left: 137px;
        width: 90%;
    }
    .goup__listpos a {
        font-size: 15px;
    }
    .goup__title {
        font-size: 15px;
    }
    .goup__text {
        font-size: 9px;
    }
    .goup__email {
        width: 250px;
    }
}
/*320px 767.75px*/
@media(max-width:767.75px){}


/*FOOTER*/

.footer{
    margin: 80px 0 19.55px 0;
}

.fooret__row{
    display: flex;
    max-width: 1365px;
    align-content: flex-end;
    margin-left: 500px;

}

.footer__textlist{
    text-decoration: none;
    font-size: 13px;
    line-height: 15px;
    text-align: right;
    letter-spacing: 0.8px;
    color: #707A7F;
    padding: 0 40px 0 40px;
    
}

.footer__textlist_active{
    color: #000000;
}

/* 1200+*/
/*992px 1199.75px*/
@media(max-width:1199.75px) {    
    .fooret__row {
        margin-left: 312px;
    }
    .footer__textlist {    
        font-size: 10px;    
        padding: 0px 34px 0 40px;
    }
}
/*768px 991.75px*/
@media(max-width:991.75px) {
    .footer__textlist {
        font-size: 10px;
        padding: 0px 10px 0 10px;
    }
    .fooret__row {
        margin-left: 285px;
    }

}
/*320px 767.75px*/
@media(max-width:767.75px){}
